@import './../../css/service';
@import './../../css/var';

.footer {
    @extend %width-limit;

    align-items: center;
    background-image: $main-background-color;
    border-top: 1px solid $main-font-color;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 0 $ui-unit * 2;
    justify-content: flex-start;
    padding-bottom: $ui-unit;
    padding-top: $ui-unit;

    .footer_copyright,
    .footer_link {
        color: $main-font-color;
        display: block;
        font-size: 14px;
        padding: $ui-unit 0;
    }

    .footer_link {
        @extend %link;
    }

    .footer_copyright {
        margin: 0;
        text-decoration: none;
    }
}
