$color-border: #444;
$light-gray: #f0f0f0;
$z-index-wrapper: 5;

@keyframes loading-spinner {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

%spinner-animation {
    animation-direction: normal;
    animation-duration: 0.75s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: loading-spinner;
    animation-play-state: running;
    animation-timing-function: linear;
}

@keyframes show-spinner-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

%show-spinner-animation {
    animation-direction: normal;
    animation-duration: 0.5s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: show-spinner-animation;
    animation-play-state: running;
    animation-timing-function: linear;
}

.spinner_wrapper {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    padding: 12px;
    position: static;
    top: 0;
    width: 100%;
    z-index: $z-index-wrapper;
}

.spinner_image {
    @extend %spinner-animation;

    border-color: $light-gray;
    border-radius: 100%;
    border-style: solid;
    border-top-color: $color-border;
    border-width: 5px;
    box-sizing: border-box;
    display: block;
}

@keyframes ascii-spinner-animation {
    100%,
    0% {
        content: '⠋'; // 1
    }

    10% {
        content: '⠙'; // 2
    }

    20% {
        content: '⠹'; // 3
    }

    30% {
        content: '⠸'; // 4
    }

    40% {
        content: '⠼'; // 5
    }

    50% {
        content: '⠴'; // 6
    }

    60% {
        content: '⠦'; // 7
    }

    70% {
        content: '⠧'; // 8
    }

    80% {
        content: '⠇'; // 9
    }

    90% {
        content: '⠏'; // 10
    }
}

// inspiration is here - https://jsfiddle.net/sindresorhus/2eLtsbey/embedded/result/
.ascii_spinner {
    display: inline;

    &:before {
        animation-direction: normal;
        animation-duration: 1s;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-name: ascii-spinner-animation;
        animation-play-state: running;
        animation-timing-function: linear;
        content: '⠋'; // first element in queue of symbols
        vertical-align: middle;
    }
}
