/* stylelint-disable selector-pseudo-class-no-unknown, selector-max-compound-selectors */

.markdown {
    background-color: transparent;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    :global {
        .md-pro {
            background-color: transparent;
        }
    }
}
