/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-no-qualifying-type */

.markdown {
    background-color: transparent;

    .markdown_picture {
        display: block;
        margin: 0 0 0.5em;
    }

    .markdown_image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .markdown_video {
        background-color: #888a;
        background-position: center center, center center;
        background-size: cover, cover;
        display: block;
        margin: 0 auto 0.5em;
        max-width: 100%;

        &[poster] {
            object-fit: contain;
        }
    }
}
