@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.popup__fade {
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    backdrop-filter: blur(2px);
    background-color: rgb(127 127 127 / 66%);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    &.popup__fade__closed {
        opacity: 0;
    }

    &.popup__fade__opening {
        animation-name: fade-in;
    }

    &.popup__fade__open {
        opacity: 1;
    }

    &.popup__fade__closing {
        animation-name: fade-out;
    }
}

.popup__container {
    background-color: #0c0;
    left: 50%;
    max-height: 80vh;
    max-width: 80vw;
    position: fixed;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    //transition: opacity 1s ease-in-out;

    &.popup__container__closed {
        opacity: 0;
    }

    &.popup__container__opening {
        opacity: 1;
    }

    &.popup__container__open {
        opacity: 1;
    }

    &.popup__container__closing {
        opacity: 0;
    }
}
