@import './../../../css/var';
@import './../../../css/service';

.search_result_wrapper {
    background-color: $main-background-color;
    border: 1px solid $main-font-color;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    color: $main-font-color;
    display: block;
    overflow: hidden;
}

.search_result__loading {
    display: block;
    overflow: hidden;
    padding: 16px;
}

.search_result__just_text {
    display: block;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
    padding: 32px 16px;
    text-align: center;
}

.search_result__list {
    display: block;
    list-style: none;
    margin: 0;
    max-height: 60vh;
    overflow: auto;
    padding: $ui-unit;
}

.search_result__list_item {
    display: block;
    margin: 0;
    padding: 0;
}
