@import './../../css/service';

.header {
    @extend %width-limit;

    align-items: center;
    background-color: $main-background-color;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}

.header__home_link {
    @extend %ellipsis;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px 8px 8px 0;
    text-decoration: none;
}

.header__home_icon {
    display: block;
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.header__home_text {
    @extend %ellipsis;

    color: $main-font-color;
    display: block;
    font-family: $main-font-family;
    font-size: 22px;
}

.header__search {
    display: block;
}

%header-navigation-toggle-button {
    border: 0;
    cursor: pointer;
    display: none;
    flex-shrink: 0;
    height: 100%;
    left: -12px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 50px;
    z-index: 0;

    &:before,
    &:after {
        background-color: $main-font-color;
        border-radius: 1px;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 22px;
        z-index: 1;
    }
}

.header__navigation_toggle_button__open {
    @extend %header-navigation-toggle-button;

    &:before {
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotateZ(-45deg);
    }
}

.header__navigation_toggle_button__closed {
    @extend %header-navigation-toggle-button;

    &:before {
        box-shadow: 0 -7px 0 0 $main-font-color, 0 7px 0 0 $main-font-color;
    }

    &:after {
        display: none;
    }
}

.header__navigation_wrapper {
    display: block;

    &.header__navigation_wrapper__open {
        display: block;
    }
}

@media screen and (max-width: $tablet-width) {
    .header {
        border-bottom: 1px solid $main-font-color;
    }

    .header__navigation_wrapper__open {
        border-bottom: 1px solid $main-font-color;
    }

    %header-navigation-toggle-button {
        display: block;
    }

    .header__navigation_wrapper {
        display: none;
    }
}
