/* stylelint-disable
property-no-unknown,
selector-list-comma-newline-after,
selector-no-qualifying-type,
no-descending-specificity */

@import './var';

html,
body,
div,
span,
applet,
object,
iframe,
button,
input,
textarea,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video,
select {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

canvas,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
blockquote {
    display: block;
}

nav ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

ul ul {
    list-style: circle;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

mark {
    background: none;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

a,
select,
button,
input {
    cursor: pointer;
}

input,
textarea {
    user-select: auto;
}

input[type='text'] {
    cursor: auto;
}

input,
select,
a img {
    vertical-align: middle;
}

a {
    color: $main-link-color;
    text-decoration: underline;

    &:visited {
        color: $main-link-color-visited;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        color: $main-link-color-active;
    }
}
