@import './var';

%width-limit,
.width_limit {
    background-color: $main-background-color;
    box-sizing: border-box;
    display: block;
    font-family: $main-font-family;
    margin: 0 auto;
    max-width: $max-width;
    padding-left: $ui-unit * 3;
    padding-right: $ui-unit * 3;
}

%ellipsis,
.ellipsis {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
:global .mobile {
    :local {
        %width-limit,
        .width_limit {
            padding-left: $ui-unit * 2;
            padding-right: $ui-unit * 2;
        }
    }
}
*/

/*
.width_limiter {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 990px;
    padding: 0;
}
*/

.main_font_color {
    color: $main-font-color;
}

.secondary_font_color {
    color: $secondary-font-color;
}

%link,
.link {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

%scrolling-performance-issue {
    transform: translate3d(0, 0, 0);
}

%scrollable,
.scrollable {
    @extend %scrolling-performance-issue;

    display: block;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: #c1c1c1 #f1f1f1;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        background-color: #f1f1f1;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border-radius: 2px;
    }
}

.disable_user_event {
    pointer-events: none;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

@media screen and (max-width: $tablet-width) {
    %width-limit,
    .width_limit {
        padding-left: $ui-unit * 2;
        padding-right: $ui-unit * 2;
    }
}

@media screen and (max-width: $phone-width) {
    %width-limit,
    .width_limit {
        padding-left: $ui-unit;
        padding-right: $ui-unit;
    }
}
