$main-font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
$main-font-family-monospace: 'Lucida Console', 'Monaco', monospace;

$main-font-color: #1a1a1a;
$secondary-font-color: #8d8d8d;
$main-background-color: #f0f0f0;

$main-link-color: #1c61e2;

$ui-unit: 8px;
$max-width: 960px;
$desktop-width: 1024px;
$tablet-width: 768px;
